a.devour.card-link {
    color: #DB3A34;
}

body {
    background-attachment: fixed;
    background-color: #FFC857;
    color: #DB3A34;
}
.btn {
    background-color: #DB3A34;
    border-color: #DB3A34;
    color: white;
}

.container {
    background-color: #ffd581;
}

.head {
    text-align: center;
    font-size: 50px;
    font-family: Oi;
}

h2 {
    font-family: Oi;
    text-align: center;
}

img {
    align-self: center;
}

.input-group {
    padding: 100px;
}